
<div class="container about">
    <div class="jumbotron">
        <div class="container style-about">
                <h1 class="">Hello, Guys!</h1>
                <p class="">This is a demo app to insert delete update and find records of your sleep.</p>
                 <hr class="hor-bar">
                 <p></p>
                <p class="">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
                </p>
        </div>      
    </div>
</div>
