
<div class="container about">
    <div class="jumbotron">
        <div class="container style-about">
                <h1 class="">Hello, Guys!</h1>
                <p class="">This is a demo app to insert delete update and find records of your sleep.</p>
                 <hr class="hor-bar">
                 <p>To insert a new record write post request with the route address /sleep?hours_slept=5&quality_slept=bad (use any number in place of 5).</p><br>
                 <p>To view all records use /sleep get request.</p><br>
                 <p>To update a record use /sleep/3?added_attribute=12 (where 3 is the id and added_attribute is new attribute)as a put request.</p><br>
                 <p>To delete a record use /sleep/2 (where 2 is an id)</p>
                 <p class="">
                    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a> -->
                </p>
        </div>      
    </div>
</div>
