
<div class="container about">
    <div class="jumbotron">
        <div class="container style-about">
                <h1 class="">Hello, Guys!</h1>
                <p class="">This is Sleep-Healthy app, which grades your sleeping schedule.</p>
                 <hr class="hor-bar">
                 <p>A good and healthy sleep is as important as getting a healthy diet or life style.</p>
                <p class="">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
                </p>
        </div>      
    </div>
</div>
